@charset "utf-8";
@font-face {  
    font-family: "ft60";  
    src: url(file/ft60.ttf);
}
body {
    font-family: "ft60";
    font-size: 55px;
    background-color: #CAE2EB;
}
#Aussengrenze {
	position: relative;
	border: solid 1px midnightblue;
    border-radius: 5px 5px 0px 0px;
	width: 50%;
	height: auto;
	padding: 1%;
    margin: auto auto;
    text-align: center;
    background-color: skyblue;
    box-shadow: 0px 5px 10px #0057ab;
	}
#Tafel {
	border: solid 1px midnightblue;
    border-radius: 5px;
	position: relative;
	width: 100%;
	min-height: 1.2em;
	text-align: right;
	font-size: 1em;
    word-wrap: break-word;
	overflow-wrap: break-word;
    background-color: #BAD2DB;
    box-shadow: 0px 5px 10px #0057ab;
}
#Archiv {
    position: relative;
	border: solid 1px midnightblue;
    border-radius: 0px 0px 5px 5px;
	width: 50%;
	height: auto;
	padding: 1%;
    margin: auto auto;
    word-wrap: break-word;
	overflow-wrap: break-word;
    font-size: 0.2em;
    background-color: powderblue;
    box-shadow: 0px 5px 10px #0057ab;
}
.gross {
	position: relative;
	width: 26%;
	height: 7%;
    /*margin: 0.1em;*/ 
}
#grossArchiv {
    font-size: 1.5em;
    width: auto;
}
.klein {
	position: relative;
	width: 17%;
	height: 7%;
}
input {
  background-color: bisque;
  border: 0;
  outline: 0;
  font-size: 0.6em;
  font-family: "ft60";
  box-shadow: 0px 5px 10px #0057ab;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid #d9d9d9;
}
input:hover {
  box-shadow: 0px 15px 25px -5px #0057ab;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
input:active {
  box-shadow: 0px 4px 8px #0065c8;
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}
footer {
    position: absolute;
    bottom: 1px;
    font-size: 10px;
    left: 50%;  
    transform: translate(-50%, 0);
	text-align: center;
}